* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open sans", sans-serif;
}

body {
  background: #1f1f44;
}

.wrapper {
  width: 95%;
  margin: 0 auto;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
.title,
::-webkit-input-placeholder {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
.title,
:-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
.title,
::-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
.title,
::placeholder {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
span {
  pointer-events: none;
}

h1,
h2,
h3 {
  color: #ecf0f1;
}

h4 {
  font-size: 0.9em;
}

header {
  height: 16vh;
  min-height: 75px;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
}

header .wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  header .wrapper {
    position: relative;
  }
}

header .wrapper::after {
  content: "";
  display: block;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

@media screen and (max-width: 768px) {
  header .wrapper::after {
    content: none;
  }
}

header .logo {
  font-weight: 100;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

header .logo span {
  color: #e67e22;
}

header .src-bar {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  position: relative;
  background: #ecf0f1;
  max-width: 768px;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  header .src-bar {
    width: 0;
    max-width: none;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    position: absolute;
    top: none;
    right: 0;
  }
}

header .src-bar.active {
  width: 100%;
}

header .src-bar.active .src-bar__btn {
  color: black;
}

header .src-bar__input {
  outline: none;
  border: 0;
  background: none;
  width: 90%;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  header .src-bar__input {
    width: 100%;
  }
}

header .src-bar__input:focus-within::-webkit-input-placeholder {
  color: #ecf0f1;
}

header .src-bar__input:focus-within:-ms-input-placeholder {
  color: #ecf0f1;
}

header .src-bar__input:focus-within::-ms-input-placeholder {
  color: #ecf0f1;
}

header .src-bar__input:focus-within::placeholder {
  color: #ecf0f1;
}

header .src-bar__btn {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: color 0.3;
  transition: color 0.3;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 2%;
}

@media screen and (max-width: 768px) {
  header .src-bar__btn {
    color: #ecf0f1;
  }
}

header .src-bar .result-list {
  background: #ecf0f1;
  position: absolute;
  width: 100%;
  z-index: 6;
}

header .src-bar .result-list .result {
  border: 1px solid #e67f24;
  margin: 10px 1%;
  padding: 1%;
  cursor: pointer;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .src-bar .result-list .result img {
  margin: 0 3% 0 1%;
  width: 6vw;
  pointer-events: none;
}

header .src-bar .result-list .result .title {
  font-weight: 600;
  display: inline-block;
  pointer-events: none;
}

header .src-bar .result-list .result .genre {
  font-size: 0.8em;
  pointer-events: none;
}

main {
  padding: 100px 0;
  position: relative;
}

main h2 {
  margin-bottom: 16px;
}

main h2::after {
  content: "";
  display: block;
  border-bottom: 1px solid #e67e22;
  padding-top: 4px;
}

main h2 .watched-count {
  color: #e67e22;
  font-size: 1.1em;
}

main .watched-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 0.6fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 0.6fr));
  grid-gap: 1.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .watched-list .watched {
  position: relative;
}

main .watched-list .watched img {
  float: left;
  width: 100%;
  height: 100%;
}

main .watched-list .watched img:hover + .content {
  z-index: 2;
}

main .watched-list .watched .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  background: rgba(40, 40, 86, 0.8);
  z-index: -1;
  padding: 7px;
  width: 100%;
  height: 100%;
}

main .watched-list .watched .content:hover {
  z-index: 2;
}

main .watched-list .watched .content h3 {
  margin-bottom: 10px;
  font-size: 1.1em;
}

main .watched-list .watched .content h3::after {
  content: "";
  display: block;
  border-bottom: 1px solid #e67e22;
  padding-top: 4px;
}

main .watched-list .watched .content .note {
  width: 100%;
  height: 60%;
}

main .watched-list .watched .content .note h4 {
  color: #ecf0f1;
}

main .watched-list .watched .content .note textarea[name="note"] {
  resize: none;
  background: none;
  border: 1px solid #e67e22;
  color: #ecf0f1;
  font-size: 0.7em;
  padding: 5px;
  width: 100%;
  height: 80%;
}

main .overlay {
  content: "";
  display: block;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
  opacity: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

main .overlay.active {
  opacity: 1;
  z-index: 4;
}
/*# sourceMappingURL=style.css.map */