* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open sans", sans-serif;
}

body {
  background: #263238;
}

.wrapper {
  width: 95%;
  margin: 0 auto;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  pointer-events: none;
  color: #f5f5f5;
}

header {
  height: 16vh;
  min-height: 75px;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

header .wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  header .wrapper {
    position: relative;
  }
}

header .wrapper::after {
  content: '';
  display: block;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

@media screen and (max-width: 768px) {
  header .wrapper::after {
    content: none;
  }
}

header .logo {
  font-weight: 100;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

header .logo span {
  color: #bf360c;
}

header .src-bar {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  position: relative;
  background: #f5f5f5;
  max-width: 768px;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  header .src-bar {
    width: 0;
    max-width: none;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    position: absolute;
    top: none;
    right: 0;
  }
}

header .src-bar.active {
  width: 100%;
}

header .src-bar.active .src-bar__btn {
  color: black;
}

header .src-bar__input {
  outline: none;
  border: 0;
  background: none;
  width: 90%;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  header .src-bar__input {
    width: 100%;
  }
}

header .src-bar__input:focus-within::-webkit-input-placeholder {
  color: #f5f5f5;
}

header .src-bar__input:focus-within:-ms-input-placeholder {
  color: #f5f5f5;
}

header .src-bar__input:focus-within::-ms-input-placeholder {
  color: #f5f5f5;
}

header .src-bar__input:focus-within::placeholder {
  color: #f5f5f5;
}

header .src-bar__btn {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: color 0.3;
  transition: color 0.3;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 2%;
}

@media screen and (max-width: 768px) {
  header .src-bar__btn {
    color: #f5f5f5;
  }
}

header .src-bar .result-list {
  background: #f5f5f5;
  position: absolute;
  width: 100%;
  z-index: 6;
}

header .src-bar .result-list .result {
  border: 1px solid #c1370c;
  margin: 10px 1%;
  padding: 1%;
  cursor: pointer;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

header .src-bar .result-list .result img {
  margin: 0 3% 0 1%;
  width: 6vw;
  pointer-events: none;
}

header .src-bar .result-list .result .title {
  font-weight: 600;
  display: inline-block;
  pointer-events: none;
}

header .src-bar .result-list .result .genre {
  font-size: 0.8em;
  pointer-events: none;
}

main {
  padding: 100px 0;
}

main h2 {
  margin-bottom: 16px;
}

main h2::after {
  content: "";
  display: block;
  border-bottom: 1px solid #bf360c;
  padding-top: 4px;
}

main h2 .watched-count {
  color: #bf360c;
  font-size: 1.1em;
}

main .watched-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(220px, 0.6fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(220px, 0.6fr));
  grid-auto-rows: minmax(1fr, 500px);
  grid-auto-flow: row dense;
  grid-gap: 16px;
}

@media screen and (max-width: 1024px) {
  main .watched-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

main .watched-list .watched {
  position: relative;
}

main .watched-list .watched img {
  float: left;
  width: 100%;
  height: 100%;
}

main .watched-list .watched img:hover + .holder {
  z-index: 5;
}

main .watched-list .watched .holder {
  background: rgba(38, 50, 56, 0.8);
  position: absolute;
  z-index: -1;
  padding: 7px;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

main .watched-list .watched .holder:hover {
  opacity: 1;
  z-index: 5;
}

main .watched-list .watched .holder h3::after {
  content: "";
  display: block;
  border-bottom: 1px solid #bf360c;
  padding-top: 4px;
}

main .watched-list .watched .holder .note {
  width: 100%;
  height: 60%;
}

main .watched-list .watched .holder .note h4 {
  font-size: 0.9em;
}

main .watched-list .watched .holder .note textarea[name='note'] {
  resize: none;
  background: none;
  border: 1px solid #bf360c;
  color: #f5f5f5;
  font-size: 0.7em;
  padding: 5px;
  width: 100%;
  height: 80%;
}
/*# sourceMappingURL=style.css.map */