main {
  padding: 100px 0;

  h2 {
    margin-bottom: 16px;
    @include underline;

    .watched-count {
      color: $secondary-color;
      font-size: 1.1em;
    }
  }

  .watched-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 0.6fr));
    grid-auto-rows: minmax(1fr, 500px);
    grid-auto-flow: row dense;
    grid-gap: 16px;
    @include media($max-width: 1024px) {
      justify-content: center;
    }

    .watched {
      position: relative;
      img {
        float: left;
        @include size($width: 100%);

        &:hover + .holder {
          z-index: 5;
        }
      }

      .holder {
        background: rgba($primary-color-light, 0.8);
        position: absolute;
        z-index: -1;
        padding: 7px;
        opacity: 0;
        transition: opacity 0.3s;
        @include size($width: 100%);
        @include flex($dir: column, $jc: space-between);

        &:hover {
          opacity: 1;
          z-index: 5;
        }

        h3 {
          // font-size: 1.1em;
          @include underline;
        }

        .note {
          @include size(100%, 60%);

          h4 {
            font-size: 0.9em;
          }

          textarea[name="note"] {
            resize: none;
            background: none;
            border: 1px solid $secondary-color;
            color: $white;
            font-size: 0.7em;
            padding: 5px;
            @include size(100%, 80%);
          }
        }
      }
    }
  }
}
