@mixin border {
  border: 1px solid salmon;
}

@mixin media($max-width) {
  @media screen and (max-width: $max-width) {
    @content;
  }
}

@mixin underline {
  &::after {
    content: "";
    display: block;
    border-bottom: 1px solid $secondary-color;
    padding-top: 4px;
  }
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin position-abs($top: 0, $right: 0) {
  position: absolute;
  top: $top;
  right: $right;
}
